<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Listeners -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:ModelContext.xml,classpath*:BusinessContext.xml,WEB-INF/WebAppContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>authenticationServlet</servlet-name>
		<servlet-class>fr.min.school.webapp.server.authentication.AuthenticationServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>authenticationServlet</servlet-name>
		<url-pattern>/SchoolWebapp/authenticationService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SchoolWebapp.html</welcome-file>
	</welcome-file-list>

</web-app>
